#PARENTDATETIME {
    -moz-user-select: none;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
	z-index:100000;
}
#PARENTDATETIME .if {
    border: medium none;
    height: 196px;
    opacity: 0;
    position: absolute;
    width: 350px;
    z-index: 99;
}
#PARENTDATETIME .date {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #BBDFFF;
    clear: both;
    display: inline;
    float: left;
    position: absolute;
    width: 445px;
    z-index: 10000;
}
#PARENTDATETIME .date .monthBg {
    color: #F0F0F0;
    font-family: Arial;
    font-size: 110px;
    height: 165px;
    line-height: 165px;
     margin-top: -174px;
    position: absolute;
    text-align: center;
    width: 222px;
    z-index: -1;
}
#PARENTDATETIME .date td {
    padding: 0;
}
#PARENTDATETIME .date .top {
    background: none repeat scroll 0 0 #005BB5;
    float: left;
    height: 27px;
    line-height: 27px;
    width: 445px;
}
#test5 {
    border-color: #FF9600 #3366FF transparent transparent;
    border-style: solid solid dashed dashed;
    border-width: 40px 40px 0 0;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}
#PARENTDATETIME .date .lastMonthBg {
    background: none repeat scroll 0 0 #EEF7FF;
    border: 1px solid #CAE2FA;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 5px;
    width: 15px;
}
#PARENTDATETIME .date .lastMonth {
      border-color: transparent #005BB5 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 6px;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 0;
    left: 4px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 8px;
    width: 0;
}
/*��chrome�����Ұ�ť��С��һ����hack*/
 @media screen and (-webkit-min-device-pixel-ratio:0)
 {
       #PARENTDATETIME .date .lastMonth
        {
            top: 7px;
            border-width: 7px;
            left: 2px;
        }
 }

#PARENTDATETIME .date .nextMonthBg {
    background: none repeat scroll 0 0 #EEF7FF;
    border: 1px solid #CAE2FA;
    cursor: pointer;
    float: right;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
    width: 15px;
}
#PARENTDATETIME .date .nextMonth, #PARENTDATETIME .date .Chrome_nextMonth {
    border-color: transparent transparent transparent #005BB5;
    border-style: dashed dashed dashed solid;
    border-width: 6px;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: 3px;
    width: 0;
}
#PARENTDATETIME .date .nextMonth {
    top: 8px;
}
#PARENTDATETIME .date .Chrome_nextMonth {
    top: 8px;
}
#PARENTDATETIME .date .lastText, #PARENTDATETIME .date .nextText {
    color: #FFFFFF;
    display: inline;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
#PARENTDATETIME .date .lastText {
    margin-left: 49px;
}
#PARENTDATETIME .date .nextText {
    margin-left: 155px;
}
#PARENTDATETIME .date .contentTime1, #PARENTDATETIME .date .contentTime2 {
    float: left;
    width: 217px;
}
#PARENTDATETIME .date .contentTime2 
{
    margin-left:10px;
    *margin-left:9px;
	display:inline;
}
#PARENTDATETIME .date table {
    border-left: 1px solid #F1F1F1;
    color: #005BB5;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#PARENTDATETIME .date table th {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #999999;
    font-weight: normal;
    height: 32px;
    width: 30px;
    text-align: center;
}
#PARENTDATETIME .date table .td01, #PARENTDATETIME .date table .td02 {
    border-bottom: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#PARENTDATETIME .date table .td01 {
    color: #005BB5;
}
#PARENTDATETIME .date table .td02 {
    color: #CCCCCC;
}
#PARENTDATETIME .date .spanOver, #PARENTDATETIME .date .clickDate, #PARENTDATETIME .date .spanOut, #PARENTDATETIME .date .spanHover {
    float: left;
    line-height: 28px;
    width: 28px;
}
#PARENTDATETIME .date .spanHover {
    background: none repeat scroll 0 0 #EEF7FF;
    border: 1px solid #BCDFFF;
    color: #005BB5;
	padding:0;
}
#PARENTDATETIME .date .spanOut {
	padding:1px;
    color: #005BB5;
    cursor: default;
}
#PARENTDATETIME .date .spanDay {
    background: none repeat scroll 0 0 #FFF4ED;
    border: 1px solid transparent;
    color: #FF6600;
    font-weight: bolder;
}
#PARENTDATETIME .date .spanOver {
    color: #CCCCCC;
    cursor: default;
}
#PARENTDATETIME .date .clickDate {
    background: none repeat scroll 0 0 #FFF4ED;
    border: 1px solid #FFD5BB;
    color: #005BB5;
}
#PARENTDATETIME .date .sat,#PARENTDATETIME .date .sun
{
    background: url("../images/mCal_3.png") no-repeat #F5F5F5;
}
#PARENTDATETIME .date .spanDay, #PARENTDATETIME .date .spanTomo, #PARENTDATETIME .date .yuandan, #PARENTDATETIME .date .chuxi, #PARENTDATETIME .date .chunjie, #PARENTDATETIME .date .yuanxiao, #PARENTDATETIME .date .qingming, #PARENTDATETIME .date .duanwu, #PARENTDATETIME .date .qixi, #PARENTDATETIME .date .zhongqiu, #PARENTDATETIME .date .guoqing, #PARENTDATETIME .date .shendan, #PARENTDATETIME .date .wuyi, #PARENTDATETIME .date .liuyi {
    background: url("../images/mCal_3.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    display: inline-block;
    float: left;
    height: 28px;
    width: 28px;
}
#PARENTDATETIME .date .hover {
    background-color: #EEF7FF;
    border: 1px solid #BCDFFF;
}
#PARENTDATETIME .date .sel {
    background-color: #FFF4ED;
    border: 1px solid #FFD5BB;
}
#PARENTDATETIME .date .spanDay {
    background-position: -140px -9px;
}
#PARENTDATETIME .date .spanTomo {
    background-position: -139px -45px;
}
#PARENTDATETIME .date .sat 
{
    background-position: -133px -79px;
}
#PARENTDATETIME .date .sun 
{
    background-position: -132px -115px;
}    
#PARENTDATETIME .date .yuandan {
    background-position: 2px -8px;
}
#PARENTDATETIME .date .chuxi {
    background-position: 2px -44px;
}
#PARENTDATETIME .date .chunjie {
    background-position: 2px -80px;
}
#PARENTDATETIME .date .yuanxiao {
    background-position: 2px -117px;
}
#PARENTDATETIME .date .qingming {
    background-position: 2px -152px;
}
#PARENTDATETIME .date .duanwu {
    background-position: 2px -188px;
}
#PARENTDATETIME .date .qixi {
    background-position: 2px -224px;
}
#PARENTDATETIME .date .zhongqiu {
    background-position: 2px -260px;
}
#PARENTDATETIME .date .guoqing {
    background-position: 2px -297px;
}
#PARENTDATETIME .date .shendan {
    background-position: 2px -332px;
}
#PARENTDATETIME .date .liuyi {
    background-position: -62px -8px;
}
#PARENTDATETIME .date .wuyi {
    background-position: -62px -45px;
}