<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv">
<p class="ComPcon">
酷讯旅游网（www.kuxun.cn）是中国领先的在线旅游媒体和专业的旅游搜索引擎，是全球最大在线旅游媒体TripAdvisor旗下企业。公司创立于2006年初，总部位于北京。
</p>
<p class="ComPcon">酷讯旅游凭借国内领先的垂直搜索技术，为旅行消费者提供国内外机票、酒店、火车票、度假和旅游指南的专业搜索服务，并利用先进的数据挖掘和智能推荐等技术手段，通过实时整合、辨识、处理海量旅行产品数据，为用户提供最新最准确的旅行产品价格和信息，从而帮助用户高效地比较选择适合自己的旅行产品。
</p>
<p class="ComPcon">酷讯旅游可以实时搜索全部航空公司官网，超过2000家专业机票、酒店、火车票以及度假产品供应商网站，帮助用户一站式获取全方位旅游产品信息。目前，酷讯旅游月访问量已突破5,500万。
</p>
<p class="ComPcon">伴随着互联网应用以及中国旅游产业的蓬勃发展，酷讯旅游作为中国领先的旅游搜索引擎，已经被亿万旅游消费者广泛接受并喜爱，也逐渐成为众多旅行人士的首选互联网站点，帮助用户得到更好的旅行体验。同时，作为中国最具影响力的在线旅游媒体之一，酷讯旅游同样得到来自航空公司、大型酒店集团、各地旅游局及景区广泛赞誉，他们将酷讯旅游视为其拓宽业务以及吸引消费者最有效的平台。
</p>
</div>
<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>