<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv">
              <h2 class="Com_Title" id="1">品牌推广</h2>
               <p class="Pro_Con">酷讯品牌媒介部负责公司的品牌形象管理和推广、新闻传播及广告投放等工作，以公司整体品牌定位和战略规划为核心，制定相关品牌工作。
              </p>
			  <p class="Pro_Con"> 
				1、 媒介：在北上广及全国主流媒体完成新闻传播，树立公司品牌价值，挖掘新闻热点； <br>
				2、 活动：市场活动策划执行，参加行业内大型会议等；<br>
				3、 合作：长期战略合作，通过资源整合、互换，实现品牌增值效果；
			  </p>
              <p class="Pro_Con">
				<strong>联系方式：</strong><br>
				电话：010－62667666-2120 <br>
				传真：010－82168929
			  </p>
            </div>
<div class="Mod_Shad"></div>
<div class="Commondiv">
              <h2 class="Com_Title" id="2">广告销售</h2>
			  <p class="Pro_Con">酷讯广告销售部负责合作客户的硬广投放、软性内容投放以及全案活动合作等工作。
              </p> 
              <p class="Pro_Con">
				<strong>合作方式：</strong><br>
				1、硬广合作：根据客户的预算和排期，在酷讯站内进行硬广投放； <br>
				2、软性内容合作：根据品牌特色在酷讯一起玩社区创建品牌专区，同时配以活动推广位及软文推广，让更多受众了解品牌，增加品牌曝光。<br>
				3、旅游体验师活动合作：融合不同品牌特色，合作优质立体的旅游体验师活动，提升品牌知名度和美誉度。
			  </p> 
			  <p></p> 
			  <p class="Pro_Con">
				<strong>联系方式：</strong><br>
				电话：010-62667666-2111<br>
				Email：ad@kuxun.com
			  </p>
            </div>
			<div class="Mod_Shad"></div>
<div class="Commondiv">
              <h2 class="Com_Title" id="3">战略合作</h2>
			  <div class="Prop_Mod">
			 <p>酷讯旅游网，作为中国领先的在线旅游媒体，凭借国内领先的垂直搜索技术，为旅行消费者提供国内外机票、酒店、旅游度假和火车票的专业搜索服务，并利用先进的数据挖掘和智能推荐等技术手段，通过实时整合、辨识、处理海量旅行产品数据，为用户提供最新最准确的旅行产品价格和信息。酷讯旅游愿意以内容资源授权、产品定制、资源互换等合作方式，与各媒体进行合作，为贵公司网站用户高效地比较选择适合自己的旅行产品，实现双方合作共赢。
              </p>
			  </div>
			  <p class="Pro_Con">
				联系方式：<br>
				电话：010-62667666-2322 <br>
				邮箱：bd@kuxun.com
			  </p>
            </div>
	<div class="Mod_Shad"></div>
	<div class="Commondiv">
              <h2 class="Com_Title" id="4">合作伙伴</h2>
			  <ul class="Partner_Logo">
			    <li><img src="public/images/wll.png" title="乌鲁鲁艾尔斯岩度假村" width="151" height="112"></li>
				<li><img src="public/images/xgll.png" title="香格里拉" width="151" height="112"></li>
			    <li><img src="public/images/zj.png" title="洲际酒店" width="151" height="112"></li>
			    <li><img src="public/images/ad.png" title="安飞士租车" width="151" height="112"></li>
				</ul>
			  
			  <ul class="Partner_more">
			    <li class="Partner_h2"><h2>更多合作伙伴</h2></li>
				<li><a href="#" target="_blank">· 爱生活</a></li>
				<li><a href="#" target="_blank">· 搜搜</a></li>
				<li><a href="#" target="_blank">· 红网</a></li> 
			</ul>
			</div>
			<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>