<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv">
<h2 class="Com_Title">联系我们</h2>
<div class="Com_Map"></div>
<p class="Con_p">
            公司地址：北京市海淀区中关村南大街12号天作国际中心1号楼A座23层<br>
            邮政编码：100081<br>
            联系电话：010-62667666<br>
            传真：010-82168848
</p>
<p class="Con_p">
             <strong class="f14">市场合作：</strong><br>
             邮箱：coop[at]kuxun.com
</p>
<p class="Con_p">
             <strong class="f14">业务合作：</strong><br>
            品牌广告投放：010-62667666-2014<br>
            机票搜索引擎推广：15010033016<br>
            酒店搜索引擎推广：010-62667666-833
</p>
<p class="Con_p">
             <strong class="f14">客户服务热线：</strong><br>
            010-59802829 (周一至周日 08:00-20:00)<br>
            010-59802829（节假日 08:00-20:00）
</p>
<p class="Con_p">
             <strong class="f14">人才招聘：</strong><br>
            邮箱：hr [at] kuxun.com
</p>
</div>
<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>