<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv">
<h2 class="Com_Title" id="1">使用帮助</h2>
<p class="ComPcon">
当美食出现以下几种情况时，可能无法通过审核，但具体请查看系统短消息：
　　(1)食物本身占据了整个图片界面，从图片上看不到食物盛装器皿；
　　(2)图片因为对焦不准出现过度模糊，或有重影、噪点较多等因素影响清晰度；
　　(3)图片存在整体曝光过度或不足，以及局部高光或偏暗；
　　(4)图片出现偏色、色彩不均或者与实际菜品色彩色差偏离较大的情况；
　　(5)美食为食用后拍摄的“残羹冷炙”状态或近似该状态；
　　(6)美食刚上桌因为过热产生水蒸气或其他情况造成的画面“蒙面”；
　　(7)美食卖相不佳，无法正确呈现食物本身的色泽及状态；
　　(8)食物在图片上显示较小，或存在的位置较偏，导致图片构图不美观；
　　(9)图片被其他非分享食物抢占主角位置，例如人物或其他菜品等；
　　(10)美食拍摄角度怪异，或其他因素造型的美食主体变形等情况。</p>
<p class="ComPcon">酷讯旅游凭借国内领先的垂直搜索技术，为旅行消费者提供国内外机票、酒店、火车票、度假和旅游指南的专业搜索服务，并利用先进的数据挖掘和智能推荐等技术手段，通过实时整合、辨识、处理海量旅行产品数据，为用户提供最新最准确的旅行产品价格和信息，从而帮助用户高效地比较选择适合自己的旅行产品。
</p>
<p class="ComPcon">酷讯旅游可以实时搜索全部航空公司官网，超过2000家专业机票、酒店、火车票以及度假产品供应商网站，帮助用户一站式获取全方位旅游产品信息。目前，酷讯旅游月访问量已突破5,500万。
</p>
<p class="ComPcon">伴随着互联网应用以及中国旅游产业的蓬勃发展，酷讯旅游作为中国领先的旅游搜索引擎，已经被亿万旅游消费者广泛接受并喜爱，也逐渐成为众多旅行人士的首选互联网站点，帮助用户得到更好的旅行体验。同时，作为中国最具影响力的在线旅游媒体之一，酷讯旅游同样得到来自航空公司、大型酒店集团、各地旅游局及景区广泛赞誉，他们将酷讯旅游视为其拓宽业务以及吸引消费者最有效的平台。
</p>
</div>
<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>