<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv">
              <h2 class="Com_Title">酷讯福利</h2>
               <p class="Pro_Con">薪酬福利：基本工资+社会保险+住房公积金+补充商业医疗保险<br>
              其他福利：午餐补助、通讯补助、年底奖金、带薪年假、全薪病假、假期奖励、旅游现金奖励、英语培训、健康体检、生日礼物、每月team building 、免费的零食及咖啡 ……
              </p>
              <p class="Pro_Con f14 Co_Pro">简历请发送至：jianli@kuxun.com (标题：姓名+应聘职位)</p>
            </div>
<div class="Mod_Shad"></div>
<div class="Commondiv" id="3">
              <h2 class="Com_Title">用户体验测试</h2>
              <p class="Serv_Mod">
            <strong>用户体验测试说明:</strong><br>
            用户体验部门需要针对酷讯的可用性，易用性，功能性以及界面友好程度进行一系列测试，因此我们需要来自各行各业、各种教育背景、不同年龄的（18-55岁）用户作为受访者配合工作。<br>
            测试的基本内容为请您在2小时内使用网站的某一项功能或某一个栏目并和我们的测试人员进行交谈，给出反馈意见。我们并不考查您的能力，而是希望通过您的参与发现我们网站的不足。<br>
            只要您曾经浏览过网站，而您对参加用户体验测试也有兴趣，就请您和我们联系，也欢迎您将此信息转达给其他亲友。请按我们的要求把您的基本信息以Email形式发信给我们。每次需要进行测试前我们会通过电话与您约定一个合适的测试时间，您在约定时间内来到酷讯公司所在地配合我们测试即可。
              </p>
              <p class="Serv_Mod Serv_color">
            测试时间：约两小时/次（一般会在星期三的下午4点)<br>
            报酬：100-200元，送精美纪念品<br>
            联系电话：62667666-2098
              </p>
              
               <div class="Serv_link"><a class="Online_Sq left" href="mailto:ueceshi@kuxun.cn">在线申请</a></div>
              <p class="Serv_Mod Serv_pnone">
                请填写以下信息，发送e-mail至：ueceshi@kuxun.cn 即可报名参加。<br>
                1. 姓名<br>
                2. 性别<br>
                3. 年龄<br>
                4. 行业（学生请写专业）<br>
                5. 联系电话（手机为佳）<br>
                6. 你是否访问过酷讯网？<br>
                7. 你知道哪些旅行网站？<br>
                8. 你是否在网上使用过旅行预订业务？如果有，你预订过哪种业务？
              </p>
              
              <p class="Serv_Mod">
               <strong> 注意：</strong><br>
                1. 以上信息务必如实提供，您不必考虑问题答案对招聘的影响，我们需要各种类型的用户做测试。<br>
                2. 为了测试结果真实，您不必特意为测试做准备。
              </p>
              </div>
<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>