<?php Y_Widget::display('c_header',$web); ?>
<?php Y_Widget::display('c_right'); ?>
<!--右侧 -->
<div class="Main_right">
<div class="Commondiv CommonPdd">
               <div class="Pro_Top">
                  <h2 class="Com_Title">隐私政策</h2>
               </div>
               
               <div class="Prop_box"> 
                  
                  <div class="Serv_Mod">
                    <p>
                   Kuxun.cn（酷讯网），由北京酷讯互动科技有限公司（“酷讯”）运营。我们理解，您通过网络向我们提供信息是建立在您对我们信任的基础上。我们非常认真地对待您的信任，并且将确保将您提供给我们的个人信息的安全性和保密性作为重点。在您将个人信息提供给我们网站之前，请您仔细阅读本隐私政策以了解我们的隐私政策和保密措施。在访问本网站www.kuxun.cn的同时，您确认了解并接受在此介绍的保密措施。
                    </p>
                    <p><strong>我们从您那里获得的信息</strong></p>
                    <p><strong>概述</strong></p>
                    <p>
                    我们将接收，并且储存您在我们网站上键入或者以任何其他方式提供给我们的所有信息，包括能够识别您身份的信息（“个人信息”），包括您的姓名、邮件地址、电子邮箱地址及电话等。您可以选择不向我们提供信息，但是，概括而言，为了您能够以注册用户的身份享用我们提供的便利，您需要提供某些信息。
                    </p>
                     <p>
                  <strong>自动收集的信息</strong>
                    </p>
                     <p>
                  当您访问酷讯网时，我们将自动收集有关您电脑的信息，可能包括IP地址，网页浏览器软件类型，以及正在浏览的网站等。我们也可能会收集有关您上网活动的信息，例如浏览的内容和访问的网页等。我们自动收集上述信息的目的之一是帮助我们提供更好的用户使用体验，提供更方便的服务。
                    </p>
                    <p><strong>Cookies和其他浏览器技术</strong></p>
                    <p>
                  当您访问酷讯网时，我们将会向您的电脑分配一个cookie文本文件（一个小型的、唯一识别的文本文件）。此外，如果您在我们的网站上注册，我们将可能储存您电脑cookie文件夹中的所有或者部分信息。请您注意，出于安全性的考虑，所有储存在cookies文件中的会员身份信息、密码以及其他与会员账号有关的信息都经过加密处理。我们也可能使用网页信标（也称作clear gifs, pixel tags 或者Web bugs）来发送cookies文件或者与之进行信息互通，计算访问我们网站某些网页的用户人数，并且了解用户是否经由第三方网站的网络广告而访问我们网站。
                    </p>
                     <p>
                  除非您使用浏览器或操作系统软件手工将其删除，否则，Cookie文件将永久的保存在您的电脑硬盘上。您也可以选择“不使用Cookie”或“在使用Cookie时事先通知我”的选项禁止Cookie的产生，但是您将为此无法使用一些酷讯网的查询和服务。
                    </p>
                     <p>
                  Cookie文件也可能会由酷讯的第三方合作伙伴放置到您的计算机上。这些公司可能会根据您访问相关网站的统计信息为您显示您可能感兴趣的旅游产品或广告信息。这些统计信息并不包括您的个人信息。他们也可能通过这种方式来评估广告的有效度，通常这是通过一种叫做Web beacon（1 pixel Gif图）的技术来实现的，他们可能通过这种技术来统计匿名访问的数据，并根据统计结果显示您可能感兴趣的旅游产品或广告信息，同样，这些统计信息并不包括您的个人信息。
                    </p>
                     <p><strong>第三方收集的信息</strong></p>
                     <p>
                   第三方，例如供应商、广告商以及合作伙伴，可能会使用cookies文件以及其他技术（例如网页信标）以收集有关您上网活动的信息。收集这些信息的目的包括：掌握我们网站的使用情况；分析、修改在kuxun.cn以及其他网站上展示的广告或者使之个性化；为您提供您可能感兴趣的商品或者服务的广告。我们对于第三方使用的cookies 文件以及其它功能无权查看，也不能控制。此外，本隐私政策并不包括第三方的隐私措施。
                    </p>
                    <p><strong>我们如何使用您的信息</strong></p>
                    <p>一般而言，酷讯网将把收集到的有关您的信息用于以下目的：为您提供您所希望获得的产品和服务；管理您的帐户，包括便于您登陆以及使用我们网站；与您进行交流，包括提供有关酷讯网的信息；回答您的提问与意见；考量我们的产品、服务与网站是否有吸引力并加以提高；让您了解我们或者其他第三方能提供的您可能感兴趣的特殊产品和服务；使您使用酷讯网的体验个性化；以调查或其他方式从您处获取信息；防止潜在的违法或遭禁止的行为；实施我们的服务条款；以及在向您收集信息时向您指明的其它目的。</p>
                    <p>
                    <strong>我们与谁共享您的信息 </strong>
                    </p>
                    <p>酷讯网 可能与以下机构共享您的信息:</p>
                    <p>
                    <strong>第三方供应商</strong>
                    </p>
                    <p>第三方供应商代表我们向您提供服务，包括商业分析、客户服务、市场推广、开展调查或者赢奖活动，以及预防欺诈。我们也可能会授权第三方供应商代表我们向您收集信息，包括为实现我们网站的功能所必需的信息或者为发布符合您个人兴趣的网络广告所需的信息。只有在第三方供应商为履行其工作所需时，其才有权了解或者收集您的信息，并且他们不得为任何其他用途透露或者使用您的信息。</p>
                    <p><strong>合作伙伴</strong></p>
                    <p>我们可能与合作伙伴一起为您提供产品或者服务。当有第三方参与提供您所希望获得的产品或服务时，您能轻易发现这一点，因为他们的名字将会与我们的名字一同显示。如果您愿意(您有权自主决定是否愿意)接受该服务，我们将与相关合作伙伴共享您的信息，包括个人信息。请您注意，我们并不控制第三方合作伙伴的隐私政策及保密措施。</p>
                    <p><strong>公司集团内部公司</strong></p>
                    <p>我们可能会与我们的母公司以及关联公司共享您的个人信息，这些公司包括TripAdvisor.com, Expedia.com, Hotwire, 以及Classic Vacations, 此外也包括国际关联公司，例如 Hotels. uk.com。上述信息共享将使我们能够向您提供与旅行相关的或者其他的产品及服务的信息，您或许会对这些信息感兴趣。 在我们的母公司以及关联公司获悉您信息的范围内，他们将会采取至少与本隐私政策同等严格的保密措施。</p>
                    <p><strong>我们也可能会在以下情况下与他人共享您的信息: </strong></p>
                    <p>为了回应传票、法院命令或者其他法律程序；为了使我们的法律权利得以生效或实施；为了就诉讼进行抗辩；或者按照法律的规定披露。在上述情况下，我们保留行使或者放弃反对权和我们依法能够行使的任何其他权利的权利。</p>
                    <p>当我们认为调查、防止或者采取措施以处理违法或者涉嫌违法的行为是适当的；为了保护及维护酷讯/酷讯网、我们的客户或他人的权利、财产及安全；以及有关于我们的服务条款和其他协议的情况。</p>
                    <p>有关于公司交易的情形，例如股份强制转让、合并、兼并，或者资产出售，或未必发生的破产。</p> 
                    <p>我们也可能与包括广告商及投资者在内的第三方共享总计或者匿名信息。例如，我们可能告知广告商我们网站的访问者人数，或者最受欢迎的酒店或者旅游地。这些信息不含有任何个人信息，我们将其用于开发您可能感兴趣的项目和服务。</p>
                    <p>除了上述情形，当我们与第三方共享您的个人信息时，我们将会通知您，并且您有权拒绝该信息共享。</p>
                    <p><strong>您如何查看您的信息</strong></p>
                    <p>我们将采取合理措施以确保您的信息准确、完整并且按照预定用途使用。您可以通过访问酷讯网网站上的“用户中心”网页来查看以及更新您的联系信息。我们提醒您注意，我们可能会把与您帐户相关的信息保留在我们的档案中，用作分析、存档以及其他目的。</p>
                    <p><strong>您如何控制您的信息</strong></p>
                    <p>您可以通过“查看帐户”查看或修改个人信息。您自愿注册个人信息，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。</p>
                    <p>提请您注意，您可以选择不向我们提供任何信息，但是这样一来您将无法使用酷讯网的部分功能。</p>
                    <p>请您注意，我们保留无需您同意而发送给您其他信息的权利，这些信息包括服务说明、管理信息以及调查信息等。</p>
                    <p>
                   <strong>我们如何保护您的信息 </strong>
                    </p>
                    <p>我们希望您使用酷讯网时能感到放心，并且我们致力于保护我们收集的信息。尽管没有一家网站能够保证完全安全，我们已经采取了合适的管理、技术以及有形措施以保护您提供给我们的个人信息。例如，只有经授权的员工能够查看个人信息，并且只能用于经许可的工作目的。此外，在敏感的个人信息传输于我们的系统与您的系统之间时，我们将采取加密措施。我们也设置了防火墙以及入侵侦查系统以防止未经授权的人员获取您的信息。</p>
                    <p><strong>本隐私政策的修改</strong></p>
                    <p>隐私政策的修改权、更新权均属kuxun.cn。酷讯/酷讯网可能在将来更新、修改本隐私政策。</p>
                    <p>
                    本隐私政策于2010年1月1日生效。</p> 
                  </div>
                  
               </div>
            </div>
<div class="Mod_Shad"></div>
</div>
<!--右侧结束 -->
<?php Y_Widget::display('c_footer'); ?>