<?php Y_Widget::display('header',array('b_info'=>$this->id)); ?>
<?php Y_Widget::display('top'); ?>
<!--content -->
<div id="content">
	<?php Y_Widget::display('tips',array('b_info'=>$this->id)); ?>
	<!--main -->
	<div class="main clearfix">
	<?php Y_Widget::display('left'); ?>
	<!--box开始 -->
	<div id="box" class="clearfix">
<!-- 这里写内容-->
<div class="clear">
<a href="<?php echo $this->getUrl(); ?>&method=bak&name=all" class="right no" style="margin-left:10px;">备份全部</a>
<a href="<?php echo $this->getUrl(); ?>&method=do&name=all" class="right no">优化全部</a>
</div>
<table class="st full" id="arealist">
<tr>
<th>表名</th>
<th>引擎</th>
<th>总行数</th>
<th>当前自增ID</th>
<th>总大小</th>
<th>索引大小</th>
<th>多余数据</th>
<th>字符集</th>
<th>创建时间</th>
<th>最后修改</th>
<th>注释</th>
<th>操作</th>
</tr>
<?php 
if($list){
foreach($list as $val){
	echo '<tr>';
	echo '<td><a href="javascript:void(0)" onClick="showIndex(this)">'.str_replace(Y::Config('db','prefix'),'',$val['name']).'</a></td>';
	echo '<td>'.$val['engine'].'</td>';
	echo '<td>'.$val['rows'].'</td>';
	echo '<td>'.$val['auto_increment'].'</td>';
	echo '<td>'.Y_Pr::size($val['data_length']).'</td>';
	echo '<td>'.Y_Pr::size($val['index_length']).'</td>';
	echo '<td>'.(($val['data_free'] && $val['engine']!='InnoDB')?'<span class="cred">'.Y_Pr::size($val['data_free']).'</span>':'').'</td>';
	echo '<td>'.$val['collation'].'</td>';
	echo '<td>'.$val['ctime'].'</td>';
	echo '<td>'.$val['uptime'].'</td>';
	echo '<td title="'.$val['comment'].'" class="ctitle">'.Y_Pr::substr($val['comment'],0,20,false).'</td>';
	echo '<td><a href="'.$this->getUrl().'&method=do&name='.str_replace(Y::Config('db','prefix'),'',$val['name']).'">优化</a>|<a href="'.$this->getUrl().'&method=bak&name='.str_replace(Y::Config('db','prefix'),'',$val['name']).'">备份</a></td>';
	echo '</tr>';
}
}
?>
</table>

<!-- 这里写内容结束-->
	<!--box结束 -->
	</div>
	</div>
	<!-- mainend-->
</div>
<link href="public/css/show/show.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="public/js/show.js"></script>
<script type="text/javascript">
function showIndex(obj){
	var name = $(obj).html();
	if(name!=''){
		$.get('<?php echo $this->getUrl(); ?>&method=view&tab='+name,{},function(data){
			if(data!=''){
				data = eval('('+data+')');
				var str = '<tr><th>字段名</th><th>类型</th><th>空</th><th>默认</th><th>额外</th></tr>';
				for(var a in data.col){
					str += '<tr>';
					str +='<td class="ctitle">'+data.col[a].Field+'</td>';
					str +='<td>'+data.col[a].Type+'</td>';
					str +='<td>'+data.col[a].Null+'</td>';
					str +='<td>'+data.col[a].Default+'</td>';
					str +='<td>'+data.col[a].Extra+'</td>';
					str +='</tr>';
				}
				str += '<tr><th>索引字段</th><th>索引名</th><th colspan=3>是否唯一</th></tr>';
				for(var b in data.index){
					str += '<tr>';
					str += '<td class="ctitle">'+data.index[b].colname+'</td>';
					str += '<td>'+data.index[b].keyname+'</td>';
					str += '<td colspan=3>'+data.index[b].non_unique+'</td>';
					str += '</tr>';
				}
				data = '<div style="color:#329ECC;line-height:20px;padding:5px 10px;"><table class="st full">'+str+'</table></div>';
				show_dialog.openHtml(data,name+'表结构',620,250);
			}
		});
	}
}
</script>
<?php Y_Widget::display('footer');?>