<td colspan="5" style="background-color:#F0F7FC;">
<div style="position: relative;padding: 5px;">
<div>
<?php 
$hotel=Ly_Hotel::getBase($info['hid']);
$room = Ly_Hotel_Rooms::getInfo($info['rid']);
 ?>
<ul class="order_ul">
<li title="预定电话">预定电话：<b class="c369"><?php echo $hotel['contact']; ?></b></li>
<li title="房间">房间：<?php echo $room['name']; ?></li>
<li title="床型">床型：<?php echo Ly_Items::getName('hotel_rooms','bed',$room['bed']); ?></li>
<li title="大小">大小：<?php echo $room['area'].'平方米'; ?></li>
<li title="早餐">早餐：<?php echo $room['breakfast']?'有':'无'; ?></li>
<li title="宽带">支付方式：<?php echo Ly_Items::getName('hotel_rooms','payment',$room['payment']); ?></li>
<li title="宽带">宽带：<?php echo Ly_Items::getName('hotel_rooms','broadband',$room['broadband']); ?></li>
<li title="入住时间">入住时间：<?php  echo $info['starttime']; ?></li>
<li title="入住天数">入住天数：<?php  echo $info['days']; ?></li>
<li title="房间数量">房间数量：<?php  echo $info['num']; ?></li>
<li title="总价格">总价格：<span class="orange"><?php  echo $info['price']; ?></span>元</li>
<li title="入住人">入住人：<?php  echo Y_Pr::strCover($info['name'],1,'*'); ?></li>
<li title="联系方式">联系方式：<?php  echo Y_Pr::strCover($info['mobile'],7); ?></li>
<li title="证件号">证件号：<?php  echo Y_Pr::strCover($info['card'],6,'*'); ?></li>
<li title="备注" style="clear:both;width:100%">备注：<?php  echo $info['mark']; ?></li>
</div>
</div>
</td>