<table class="tb">
<thead>
<tr>
<th style="width:15%">线路ID</th>
<th style="width:35%">线路名称</th>
<th style="width:20%">创建时间</th>
<th style="width:10%">状态</th>
<th style="width:20%">操作</th>
</tr>
</thead>
<tbody>
<?php
if($info){
	$status = Ly_Items::getList('public','status');
	foreach($info as $v){
		echo '<tr>';
		echo '<td>'.$v['wid'].'</td>';
		echo '<td><a href="wayline_detail.html?id='.$v['wid'].'" target="_blank">'.($v['ishot']?'<img src="public/images/hot.png" class="left"/>&nbsp;':'').$v['name'].'</a></td>';
		echo '<td>'.date('Y-m-d H:i',$v['pubtime']).'</td>';
		foreach($status as $s){
			if($s['id']==$v['status']){
				echo '<td>'.$s['name'].'</td>';
			}
		}
		echo '<td><a href="javascript:void(0)" onclick="changebox(\'#edit_wayline\','.$v['wid'].')">编辑</a> '.($v['status']==2?'<a href="javascript:void(0)" onclick="unclosewayline(this)" wid="'.$v['wid'].'">开启</a>':'<a href="javascript:void(0)" onclick="closewayline(this)" wid="'.$v['wid'].'">关闭</a>').' <a href="javascript:void(0)" onclick="delwayline(this)" wid="'.$v['wid'].'">删除</a></td>';
		echo '</tr>';
	}
}else{
	echo '<tr><td colspan="5">您暂且还没添加线路,<a target="_blank" href="home_dohotel.html?do=add">赶紧去添加</a></td></tr>';
}
?>
</tbody>
<?php
if($pages){
	echo '<tfoot>';
	echo '<tr><td style="padding-top:8px;" colspan="5"><div class="Page1">'.$pages.'</div></td></tr>';
	echo '</tfoot>';
}
?>
</table>
<script type="text/javascript">
function unclosewayline(obj){
	show_comfirm.open(0,'重新开启线路,需要审核！',function(){
	var wid = $(obj).attr('wid');
	$.post('home_dowayline.html?do=do',{'wid':wid,'t':0},function(d){
		if(d=='0'){
			$(obj).html('已开启').attr('onclick','');
		}else{
			show_msg.open('重新开启线路失败！',3,2);
		}
	});
	});
}
function closewayline(obj){
	show_comfirm.open(0,'您确定要关闭该线路吗？',function(){
		var wid = $(obj).attr('wid');
	$.post('home_dowayline.html?do=do',{'wid':wid,'s':2},function(d){
		if(d=='0'){
			$(obj).html('已关闭').attr('onclick','');
		}else{
			show_msg.open('关闭线路失败！',3,2);
		}
	});
	});
}
function delwayline(obj){
show_comfirm.open(0,'您确定要删除该线路吗',function(){
	var wid = $(obj).attr('wid');
	$.post('home_dowayline.html?do=do',{'wid':wid,'s':3},function(d){
		if(d=='0'){
			$(obj).parents('tr').remove();
		}else{
			show_msg.open('删除酒店失败！',3,2);
		}
	});
});
}
</script>