<?php
if($info){
	foreach($info as $v){
		echo '<div class="c_list">';
		echo '<div class="face">';
		$u = Ly_User::getBaseinfo($v['uid'],50);
		echo '<a target="_blank" href="user.html?uid='.$v['uid'].'" title="'.$u['name'].'">';
		echo '<img  title="'.$u['name'].'"  width="50" height="50" src="'.$u['userimg'].'">';
		echo '</a>';
		echo '</div>';
		echo '<div class="c_content">';
		echo '<p class="mgb10">';
		echo '<a target="_blank" href="user.html?uid='.$v['uid'].'" title="'.$u['name'].'">'.$u['name'].'</a> ';
		echo '<em><a href="share_detail.html?id='.$v['id'].'">'.$v['title'].'</a></em>';
		echo '</p>';
		echo '<div class="c_window">';
		echo '<div class="arrow"><em>◆</em><span>◆</span></div>';
		echo '<div class="padtop10">'.Y_Pr::substr(Y_Pr::html($v['content']),0,200,false).'&nbsp;&nbsp;<a target="_blank" href="share_detail.html?id='.$v['id'].'">更多...</a></div>';
		echo '<div class="c_bottom">';
		echo '<span class="right">';
		echo '<a target="_blank" href="javascript:void(0)" onclick="addfavor('.$v['id'].',\'c\')" >收藏('.$v['shares'].')</a>';
		echo '<i class="W_vline"> | </i>';
		echo '<a target="_blank" href="share_detail.html?id='.$v['id'].'#commentAnchor">评论('.$v['comments'].')</a>';
		echo '</span>';
		echo '<span>'.date('m月d日 H:i',$v['pubtime']).'</span>';
		echo '</div>';
		echo '</div>';
		echo '</div>';
		echo '</div>';
	}
	echo '<div class="Page1 margtop20">'.$pages.'</div>';
}else{
	echo '<p class="f14 mgb10 margtop20"  style="display: block;text-align:center">';
	echo '<img src="public/images/content_blank.png" class="v_m">暂且没有任何数据<a href="share_pub.html" >建议先去发布自己的文章</a>！</p>';
}
?>