/* CSS Document */
/*作者：yuexinok@126.com*/
/*时间：2011-09-26日*/
/*公用全局部分*/
html,body,section,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body{font: 12px Arial;color:#333;background:#fff url('../images/fabric_plaid.jpg');}
img{border:0}
a{ text-decoration:none; }
a:hover { text-decoration:underline; }
.c666 { color:#666; }
.c999 { color:#999; }
.cf60 { color:#f60; }
.bold { font-weight:700;}
.f14 { font-size:14px; }
.clear { height:0; overflow:hidden; clear:both; }
.left { float:left; }
.right { float:right; }
.padtop5{ padding-top:5px; }
.padtop10{ padding-top:10px; }
.margtop5 { margin-top:5px; }
.margtop10 { margin-top:10px; }
.bd { border:1px solid #e6e6e6; background:#fff; }
* ul,* ol,* li {list-style:none}
.clear{ clear:both;line-height:0px;height:0px;font-size:0px;overflow:hidden;}
.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.clearfix{zoom:1;}
/*顶部*/
#top { position:relative; width:980px; height:30px; line-height:30px; z-index:15; margin: 0 auto; color:#888; }
#top a:link,.top a:visited,.top a:hover,.top a:active { color:#888; text-decoration:none; }
.tkxlinks { word-spacing:0.5em; }
.UserTextInfo { position:absolute; top:0;right:0;}
.UserTextInfo li { float:left; padding:0 5px; position:relative; font-family:SimSun; }
.MiddleBox { width:980px; clear:both; margin:0 auto; }
/*导航*/
.nav { height:68px; background:#53c4f3; position:relative; z-index:10; }
.YqwLogo { float:left; width:195px; height:53px; background:url(../images/logo.png) no-repeat; margin:10px 0 0 12px; display:inline; }
.NavList { float:left; height:45px; padding:23px 0 0 25px;}
.NavList li { float:left; font:18px/36px Microsoft Yahei;}
.NavList li a { float:left; padding:0 15px; height:45px; color:#fff; }
.NavList li a:hover { line-height:32px; text-decoration:none; }
.NavList li.NavAc a {padding:0; }
.NavList li.NavAc a:hover { line-height:36px; }
.NavList li.NavAc span {padding:0 15px; height:45px; float:left; background:url(../images/NavListbg.jpg) 0 0 repeat-x; color:#6f8586; cursor:pointer; }
/*尾部*/
#Footer { border-top:5px solid #83c020; clear:both; text-align:center; padding: 20px 0 15px; overflow:hidden; zoom:1; background:#2ba7e8; color:#fff; word-spacing:0.5em; }
#Footer p { height:25px; }
#Footer a { color:#fff; }
#Footer a:hover { text-decoration:underline; }
/*中部*/
.location{color: #666;padding: 10px 0 20px;word-spacing: 0.3em;}
.main{padding-bottom: 15px;height:500px;}