<table class="tb">
<thead>
<tr>
<th width="40%">任务名称</th>
<th width="10%">积分变动</th>
<th width="20%">本次操作后积分值</th>
<th width="30%">时间</th>
</tr>
</thead>
<tbody>
<?php
if($info){
foreach($info as $v){
	echo '<tr>';
	echo '<td>'.$v['action'].'</td>';
	echo '<td>'.$v['rank'].'</td>';
	echo '<td>'.$v['afterrank'].'</td>';
	echo '<td>'.date('Y-m-d H:i:s',$v['dotime']).'</td>';
	echo '</tr>';
}
	echo '<tr><td colspan="4"><div class="Page1">'.$pages.'</div></td></tr>';
}else{
	echo '<tr><td colspan="4">暂且没有任何记录</td></tr>';
}
?>
</tbody>
<tfoot>
<tr>
<th colspan="4" style="text-align:left">
我的总积分：<?php echo $user['rank']; ?>
</th>
</tr>
</tfoot>
</table>