<link rel="stylesheet" href="./public/css/admin/admin.css" type="text/css">
<!-- 这里写内容-->
<table class="st nob" width="100%" >
<tr>
<?php 
$wayline = Ly_Wayline::getBase($info['wid']);
 ?>
    <td rowspan="5"><a target="_blank" href="wayline_detail.html?id=<?php echo $info['wid']; ?>"><img src="<?php echo Y_Pr::image(Ly_Uploads::getUrl($wayline['img']),120,120); ?>" /></a></td>
    <td colspan="3">名&nbsp;&nbsp;称：<a target="_blank" href="wayline_detail.html?id=<?php echo $info['wid']; ?>"><?php echo $wayline['name']; ?></span></td>
	</tr>
  <tr>
	<td>线路ID：<span class="ctitle"><?php echo $info['wid']; ?></span></td>
    <td>联&nbsp;&nbsp;系：<span class="ctitle"><?php echo $wayline['contact']; ?></span></td>
	<td>发&nbsp;布&nbsp;人：<span class="ctitle"><?php echo Ly_User::getEmail($wayline['uid']); ?></span></td>
  </tr>
  <tr>
    <td>姓&nbsp;&nbsp;名：<span class="ctitle"><?php echo $info['name']; ?></span></td>
    <td>手&nbsp;&nbsp;机：<span class="ctitle"><?php echo $info['mobile']; ?></span></td>
	<td>证&nbsp;&nbsp;件：<span class="ctitle"><?php echo $info['card']; ?></span></td>
  </tr>
  <tr>
	<td>预定者：<span class="ctitle"><?php echo Ly_User::getEmail($info['uid']); ?></td>
	
    <td>成&nbsp;&nbsp;人：<span class="ctitle"><?php echo $info['adult']; ?></span></td>
    <td>儿&nbsp;&nbsp;童：<span class="ctitle"><?php echo $info['child']; ?></span></td>
  </tr>
  <tr>
    <td>下单时间：<span class="ctitle"><?php echo date('Y-m-d H:i:s',$info['ordertime']); ?></span></td>
    <td>成交时间：<span class="ctitle"><?php echo $info['oktime']?date('Y-m-d H:i:s',$info['oktime']):''; ?></span></td>
	<td>状&nbsp;&nbsp;态：<span class="ctitle"><?php echo Ly_Items::getName('order','status',$info['status']); ?></span></td>
  </tr>
  <tr>
    <th style="font-weight:normal;">信息：成人<span class="corange"><?php echo $wayline['price']; ?>元</span>
	&nbsp;儿童<span class="corange"><?php echo $wayline['pricehalf']; ?>元</span></th>
    <th style="font-weight:normal" colspan="5">
	&nbsp;&nbsp;应支付:<span class="corange"><?php echo $info['price']; ?>元</span>
	&nbsp;&nbsp;已支付:<span class="corange"><?php echo $info['handsel']+0.0; ?>元</span>
	&nbsp;&nbsp;支付状态:<span class="ctitle"><?php echo $info['isorder']?'已支付':'未支付'; ?></span>
	&nbsp;&nbsp;出发日期：<span class="corange"><?php echo $info['starttime']; ?></span>
	</th>
  </tr>
  <tr>
  <td valign="top">备注信息：</td>
  <td colspan="5">
  <?php
  if($info['mark']){
	echo '<span class="ctitle">'.$info['mark'].'</span>';
  }else{
	echo '暂且无任何备注！';
  }
  ?>
  </td>
  </tr>
</table>
<!-- 这里写内容结束-->